/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Comfortaa', cursive; */

* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   color: #dedede;
   font-family: 'Open Sans Condensed', sans-serif;
   width: 100%;
}

/*-----------------------------*/

/* HEADER SECTION */

/*-----------------------------*/

h1, h2 {
   color: #ff1353;

   font-family: 'Comfortaa', cursive;
}

h1 {
   font-size: 3em;
   text-align: center;
}

.hero {
   width: 100vw;
   line-height: 150px;
   background-color: #002930;
}


/*-----------------------------*/

/* CARDS SECTION */

/*-----------------------------*/

.container {
   position: relative;
   width: 1000px;
   margin: 5% auto;
}

.cards {
   width: 31%;
   margin-right: 3%;
   display: inline-block;
}

.cards:last-of-type {
   margin-right: 0;
}

.image-container {
   margin-bottom: -6px;
}

.image-container img {
   width: 100%;
   height: auto;
}

.card-items {
   padding: 0 1.5em 1.5em 1.5em;

   background-color: #002930;
}

h2 {
   line-height: 5rem;

   font-size: 2em;
}

@media screen and (max-width: 1050px) {
   .cards {
      width: 100%;
      margin-bottom: 50px;
      margin-right: 0;
   }
   .container {
      width: 60%;
   }
}

@media screen and (max-width: 550px) {
   .container {
      width: 85%;
   }
   h1 {
      font-size: 32px;
   }
}